<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:rpc.properties"/>

    <!--<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">-->
        <!--<property name="maxIdle" value="300"/> &lt;!&ndash;最大能够保持idel状态的对象数&ndash;&gt;-->
        <!--<property name="maxTotal" value="60000"/>&lt;!&ndash;最大分配的对象数&ndash;&gt;-->
        <!--<property name="testOnBorrow" value="true"/>&lt;!&ndash;当调用borrow Oject方法时，是否进行有效性检查&ndash;&gt;-->
    <!--</bean>-->

    <bean id="jedis" class="redis.clients.jedis.Jedis">
        <constructor-arg name="host" value="47.98.102.190" />
        <constructor-arg name="port" value="6379"/>
    </bean>

    <!--<bean id="serviceDiscovery" class="com.xxx.rpc.registry.zookeeper.ZooKeeperServiceDiscovery">-->
        <!--<constructor-arg name="zkAddress" value="${rpc.registry_address}"/>-->
    <!--</bean>-->


    <bean id="serviceDiscovery" class="com.yp.rpc.register.redis.RedisServiceDiscover">
        <constructor-arg name="redisAddress" value="47.98.102.190:6379"/>
    </bean>


    <bean id="rpcProxy" class="com.xxx.rpc.client.RpcProxy">
        <constructor-arg name="serviceDiscovery" ref="serviceDiscovery"/>
    </bean>

</beans>